<div class="container details-form">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well well-sm">
        <legend class="text-center">Enter the candidate details here, we will review and add it</legend>
        <%= simple_form_for :candidate, :url => save_candidate_path, :method=> "post", :multipart => true do |f| %>
          <%= f.input :name , required: true %>	
          <%= f.input :age, as: :integer%>	
          <%= f.file_field :avatar%>	
          <%= f.input :wikipedia_link%>	

          <%= f.collection_select :state_id, State.order(:name),  :id, :name, {:include_blank=> "Select a State"}, {:class=>'dropdown state_selection'} %>
          <%= f.grouped_collection_select :constituency_id, State.order(:name), :constituencies, :name, :id, :name, {:include_blank=> "Select a City"}, {:class=>'dropdown'}%>
          <%= f.collection_select :party, Party.order(:name), :id, :name, {:include_blank=> "Select a Party"}, {:class=>'dropdown'} %>

          <%= f.submit "Add Candidate Data", class: "btn btn-success form-control "%>
        <% end %>
      </div>
    </div>
  </div>
</div>


