<div id= "search_result" class="col-md-12 col-xs-12">
  <% @candidates.each do |candidate| %>
  <ul class = "col-md-2 col-sm-3 col-xs-4">
    <li>
      <% if candidate.avatar %>
      <%= image_tag candidate.avatar,  class: "col-md-12 col-xs-12"%> 
      <% else %>
      <%= image_tag "image_not_available.jpg", class: "col-md-12 col-xs-12" %>
      <% end %>
    </li> 
    <li class= "name">
      <%- if candidate.wikipedia_link %>
      <%= link_to candidate.name, candidate.wikipedia_link,  target: "_blank"%> 
      <% else %>
      <%= candidate.name %>
      <% end %>  
    </li>
    <li>
        <%= candidate.party.name%>  
    </li>
    <li>
      <%- if candidate.party.manifesto %>
      <%= link_to "Manifesto", candidate.party.manifesto, target: "_blank"%>
      <% else %>
      <% end %> 
    </li>
  </ul> 
  <% end %>
</div>
