<!--<ul class="breadcrumb">
  <li><a href="#">home</a> <span class="divider"></span></li>
  <li><a href="#">Library</a> <span class="divider"></span></li>
  <li class="active">Data</li>
</ul> -->
<div id= "search_result" class="col-md-12 col-xs-12">
  <% @candidates.each do |candidate| %>
  <ul class = "col-md-2 col-sm-3 col-xs-4">
    <li>
      <% if candidate.avatar.url %>
      <%= image_tag candidate.avatar,  class: "avatar"%> 
      <% else %>
      <%= image_tag "image_not_available.jpg", class: "avatar" %>
      <% end %>
    </li> 
    <li class= "name">
      <p>
      <%- if candidate.wikipedia_link %>
      <%= link_to candidate.name, candidate.wikipedia_link,  target: "_blank"%> 
      <% else %>
      <%= candidate.name %>
      <% end %>  
      </p>
    </li>
    <li>
        <%= candidate.party.name%>  
    </li>
    <li>
      <%- if candidate.party.manifesto %>
      <%= link_to "Manifesto", candidate.party.manifesto, target: "_blank"%>
      <% else %>
      <% end %> 
    </li>
  </ul> 
  <% end %>
</div>
