<p id="notice"><%= notice %></p>
<div class="container">
	<div class="span6 well">
		<center>
			<a href="#aboutModal" data-toggle="modal" data-target="#myModal">  <%= image_tag "face.jpeg"%> </a>
			<h3><%= @lawyer.name%></h3>
			<em>click my face for more</em>
		</center>
		Rate for each of the services:<br/>
		<table id= "search_result" class = "table table-hover">
			<thead>
				<tr>
					<th>Service Name</th>
					<th>Service Code</th>
					<th>Charge</th>
				</tr>
			</thead>

			<tbody>
				<% @lawyer.lawyer_services.each do |lawyer_service|%>

				<tr>
					<td>
						<%=lawyer_service.service.name%>

					</td>
					<td>		<%=lawyer_service.service.code%></td>
					<td><%=lawyer_service.charge%></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title" id="myModalLabel">More About <%= @lawyer.name%> </h4>
				</div>
				<div class="modal-body">
					<center>
						<%= image_tag "face.jpeg"%>
						<!-- <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" border="0" class="img-circle"> --></a>
					<h3 class="media-heading"><%= @lawyer.name%> <small><%=@lawyer.location%></small></h3>
					<span><strong>Services: </strong></span>
					<% @lawyer.lawyer_services.each do |lawyer_service| %>
					<span class="label label-info"><%= lawyer_service.service.name %></span>
					<% end %>
				</center>
				<hr>
				<center>
					<p class="text-left"><strong>Years of Experience </strong><br>
						<%= @lawyer.years_of_experience %></p>
					<br>
					<p class="text-left"><strong>Rating: </strong><br>
						<%= @lawyer.rating %></p>
					<br>
				</center>
			</div>
			<div class="modal-footer">
				<center>
					<button type="button" class="btn btn-default" data-dismiss="modal">I've heard enough about <%= @lawyer.name%></button>
				</center>
			</div>
		</div>
	</div>
</div>
