<!DOCTYPE html>
<html>
  <head>
    <%=  display_meta_tags :site => 'Knowb4uVote', 
    :description => 'This Election Season, are you confused with all the news? Are you looking for a one-stop source of information? Want to find out what each candidate stands for in their manifestos? Your search ends here.',
    :keywords => 'election, candidates, vote, constituency, politics, fsftn, knowb4uvote', 
    cononical: "http://www.knowb4uvote.in/", 
    author: "http://github.com/rajanand02", 
    publisher: 'http://fsftn.org/' %>
    <%= display_meta_tags :og => { title: "Knowb4uVote", description: "This Election Season, are you confused with all the news? Are you looking for a one-stop source of information? Want to find out what each candidate stands for in their manifestos? Your search ends here." } %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag 'logo.png', type: "image/png" %>
    <meta property="og:image" content=" <%= asset_path('og_image.png') %>"/>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/nav' %>
    <div class="wrapper home">
      <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
      <div class="alert alert-<%= name == :notice ? "success" : "danger" %>">
        <a class="close" data-dismiss="alert">&#215;</a>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
      <% end %>
      <% end %>
      <%= yield %>
      <div class="push"><!--//--></div>
    </div>
    <footer>
      <div class="container">
        <p class="text-center">&copy <a href="http://fsftn.org" target="_blank">Free Software Foundation Tamil Nadu</a> </p>
      </div> 
    </footer>
  </body>
</html>
