<!DOCTYPE html>
<html>
  <head>
    <title>Election2014</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag 'logo.png', type: "image/png" %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/nav' %>
    <div class="wrapper ">
      <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
      <div class="alert alert-<%= name == :notice ? "success" : "danger" %>">
        <a class="close" data-dismiss="alert">&#215;</a>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
      <% end %>
      <% end %>
      <%= yield %>
      <div class="push"><!--//--></div>
      </div>
      <footer>
        <div class="container">
          <p class="text-center">&copy <a href="http://fsftn.org" target="_blank">Free Software Foundation Tamil Nadu</a></p>
       </div> 
      </footer>
  </body>
</html>
